.card-list {
    width: 85vw;
    margin: 0 auto;
    display: grid;
    margin-top:4%;
    grid-gap: 20px;
  }

  @media(min-width:768px){
    .card-list{
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .card-list{
    margin-bottom: 15px;
  }

